    .background{
        background: url("../img/background.jpg");
        background-size: cover;
        background-position: center top 55px;
        background-repeat: no-repeat;
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .background--bottom-fade{
        background:  url('../img/fade.png');
        background-size: cover;
        width: 100%;
        height: 100%;
        position: relative;
        bottom: 0px;
        z-index: 1;
    }

    .background--bottom-arrow{
        background: url(../img/down.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 3%;
        height: 12%;
        position: relative;
        bottom: 107px;
        z-index: 2;
        margin: auto;
    }

    .content{
        position: relative;
        height: fit-content;
        width: 100%;
        background-color: #e0d2c5;
        padding-bottom: 4rem;
        z-index: 0;

    }

    .content__titel{
        text-align: center;
        font-weight: bold;
        padding-top: 5rem;
        padding-bottom: 5rem;

    }

    .titel__quot{
        display: inline-block;
        text-align: left;
        text-shadow: 1px 1px 7px black;
        color: black;
    }

    .titel__author{
        color: #373529;
    }


    .content__blogs{
        height: fit-content;
        width: 966px;
        margin: auto;
      
    }

    .blog{
        height: 450px;
        width:  300px;
        background-color:  #6D585A;
        color: white;
        display: inline-block;
        margin: 0.5rem 0.5rem;
        border-radius: 3%;
        box-shadow: 0 5px 19px 1px hsl(354deg 11% 39%);
    }

    .blog__image{
        height: 50%;
        width: 100%;
        border-radius: 3% 3% 0 0;
    }

    .blog__titel{
        margin: 0.5rem;
        color: white;
        height: 15%;
        letter-spacing: 1px;

    }

    .blog__content{
        margin:  0.5rem;
        height: 20%;
        color: #e0d2c5;
        overflow: hidden;
    }

    .blog__link{
        margin:  0.5rem;
        display: inline-block;
        float: right;
        color: white;

    }

    .blog__link:link {
        color: white;
    }

    /* visited link */
    .blog__link:visited {
        color: white;
    }

    /* mouse over link */
    .blog__link:hover {
        color: #C6B5A4;
    }

    /* selected link */
    a:active {
        color: #C6B5A4;
    }